
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
/* background-color:#d1adca;*/
  background-image:  url("../images/font5.jpg");
 
}
body {
  color: #8080c0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 /* background-color:#d1adca;*/
 
  
}

#loginbox {
    margin-top: 8px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
  /* background-color: rgba(25,355,255,.3);*/
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img{
	width:35%;
	border-radius:50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	top: 8px;
	 position: relative;
	 float:top;
}

h1 {
    padding-top: 100px;
    padding-bottom: 7%;
    
    margin-top: 0;
   	
    color: #1e1e1e;
    font-family: verdana;
    font-size: 350%;
    letter-spacing: .10em;
    text-align: center;
}
